@import "sass/animations";
@import "sass/colors";
@import "sass/fonts";
@import "sass/mixins";

body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  background: $gray;
  color: $white;
}

.main {
  margin: 88px auto;
  width: 68%;
  h1 {
    font-family: 'Handlee', sans-serif;
    color: $pink;
    text-align: center;
    font-size: 38px;
  }
}

.nav {
  @include flexbox;
  @include justify-content(center);
}
